@font-face {
    font-family: poppins;
    src: url('./font/Poppins.ttf');
}
.poppins{
    font-family: poppins !important;
}
.bg-nav{
    background-color:rgba(0, 0, 0, 0.395);
}   
.divider{
    background-color:rgb(255,193,7);
   height: 3px;
   width: 30px;
   margin-top: 10px;
   margin-right: 5px;
}
.tagline-heading{
    transform: translateY(100px);
    opacity: 0;
}   
.tagline-text{
    transform: translateY(100px);
    opacity: 0;
}  
.outer-div{
    height: 117px;
    overflow: hidden;
    position: fixed;
    width: 100%;
}
.inner-div{
    transform: translateY(-117px);
}
.video-div{
    width: 100%;
    margin: 0px 20px;
    background-color: rgb(32, 31, 31);
    border-radius: 10px;
    padding: 5px;
} 
.appointment-btn{
    transform: translateY(100px);
    opacity: 0;
}   
.sec-1{
    background: url('./media/bg-sec-1.jpg'),linear-gradient(rgba(0, 0, 0, 0.719),rgba(0, 0, 0, 0.708));
    background-blend-mode: color-dodge;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.intro{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: black;
    top: 0;
    z-index: 100;
}
.column-images{
    overflow: hidden;
    height: 300px;
    position: relative;
    overflow: hidden;
    transform: all 1s linear;
    padding: 0% !important;
}
.images-cover{
    position: absolute;
    top: 0;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.636);
    padding: 10px;
}
.service-img{
    width: 100%;
    height: 100%;
    transition: all 0.6s linear;
}
.service-video{
    width: 100%;
    object-fit: cover;
    height: 100%;
    transition: all 1s linear;
}
.column-images:hover .service-img{
    transform: scale(1.1);
}

.sec-2{
    height: 100vh;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
    position: relative;
}
.card-package{
    width: 450px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black !important;
    color: white !important;
    height: 500px !important;
}
.btn-package{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .btn-package span{
    display: block;
    font-size: 10px;
 }   
.package-list{
    margin: 20px 0;
    list-style: none;
    padding-right: 20px;
    text-align: left;
}
.package-list li{
    margin: 10px 0px;
}
.sec-4{
    position: relative;
    background-image: url('./media/packages-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height:1000px ;
    background-attachment: fixed;
}
.packages-overlay{
    position: absolute;
    backdrop-filter:blur(10px);
    background:rgba(28, 28, 28, 0.365);
    padding: 50px;
    width: 100%;
    height: 100%;
    top: 0;
}
@media(max-width:576px){
    .sec-2{
        padding: 0;
    } 
    .sec-4{
        height: 1500px;
    }
    .card-package{
        min-height: 500px !important;
    }
    .navbar-collapse-small{
        background-color: black !important;
    }
}